.jumbotron {
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2018/05/07/14/21/star-wars-3380903_960_720.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right;
}
hr {
  width: 50%;
}
